Задание 1


Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

если источник traffic_source равен yandex или google, то в source_type ставится organic

для источников paid и email из России - ставим ad

для источников paid и email не из России - ставим other

все остальные варианты берем из traffic_source без изменений

In [ ]:
import pandas as pd

In [ ]:
df_log = pd.read_csv('/content/visit_log.csv', sep=';')

df_log.head()

    timestamp    visit_id  ...     user_id traffic_source
0  1549980692  e3b0c44298  ...  b1613cc09f         yandex
1  1549980704  6e340b9cff  ...  4c3ec14bee         direct
2  1549980715  96a296d224  ...  a8c40697fb         yandex
3  1549980725  709e80c884  ...  521ac1d6a0         yandex
4  1549980736  df3f619804  ...  d7323c571c         yandex

[5 rows x 6 columns]

In [ ]:
df_log.loc[df_log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
df_log.loc[(df_log.traffic_source.isin(['paid', 'email'])) & (df_log.region == 'Russia'), 'source_type'] = 'ad'
df_log.loc[(df_log.traffic_source.isin(['paid', 'email'])) & (df_log.region != 'Russia'), 'source_type'] = 'other'

In [ ]:
df_log.loc[df_log.source_type.isnull(), 'source_type'] = df_log['traffic_source']

In [ ]:
df_log

        timestamp    visit_id  ... traffic_source source_type
0      1549980692  e3b0c44298  ...         yandex     organic
1      1549980704  6e340b9cff  ...         direct      direct
2      1549980715  96a296d224  ...         yandex     organic
3      1549980725  709e80c884  ...         yandex     organic
4      1549980736  df3f619804  ...         yandex     organic
...           ...         ...  ...            ...         ...
18933  1550094288  57e5ba8560  ...           paid       other
18934  1550094296  6f9389ec1b  ...           paid          ad
18935  1550094308  e8cf2eb8e6  ...         yandex     organic
18936  1550094314  79530b9a67  ...           paid          ad
18937  1550094323  b3b634f824  ...          email          ad

[18938 rows x 7 columns]

Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

Прочитайте содержимое файла с датафрейм

Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [ ]:
import re

In [ ]:
urls = pd.read_csv('URLs.txt')

urls.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [ ]:
urls_filtered = urls[urls.url.str.contains('/[0-9]{8}-')]

urls_filtered.head()

                                                 url
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...
5  /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6  /video/36001498-poyavilis-pervye-podrobnosti-g...
7  /world/36007585-tramp-pridumal-kak-reshit-ukra...

Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [ ]:
from pymystem3 import Mystem

In [ ]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [ ]:
def lemmatizer(row):
    m = Mystem()
    lemma = m.lemmatize(row['keyword'])
    lemma_str = ' '.join(lemma)
    return lemma_str

In [ ]:
data['lemmas'] = data.apply(lemmatizer, axis=1)

data