Задание 1

In [24]:
word = 'testing'
half = int(len(word) / 2)

if len(word) % 2 == 0:
  print(word[half - 1:half + 1])
else:
  print(word[half])

t

Задание 2

In [8]:
sum_number = []

while True:
  number = int(input('Введите число:'))
  sum_number.append(number)
  if number == 0:
    break
print(f'Результат: {sum(sum_number)}')

Введите число:1
Введите число:2
Введите число:0
Результат: 3

Задание 3

In [23]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

if len(boys) == len(girls):
  print('Идеальные пары:')
  for i, j in zip(sorted(boys), sorted(girls)):
    print(i + ' ' + 'и' + ' ' + j)
else:
  print('Внимание, кто-то может остаться без пары!')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

Задание 4

In [75]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

print('Средняя температура в странах:', '\n')
for country in countries_temperature:
  temp = country[1]
  mean_temp = sum(temp) / len(temp)
  mean_celcius = (mean_temp - 32 )* 5 / 9
  print(country[0], '-',  '%.1f' % mean_celcius, 'C')

Средняя температура в странах:

Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

Задание 5

In [32]:
streams = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

In [33]:
user_list = []
views_list = []

for stream in streams:
  splitted_stream = stream.split(',')
  user = splitted_stream[1]
  views = int(splitted_stream[2])
  views_list.append(views)
  if user not in user_list:
    user_list.append(user)

mean_views = sum(views_list) / len(user_list)
print('Результат:', mean_views )

Результат: 23.25

Задание 6

In [68]:
numbers = [int(number) for number in input().split()]
numbers_list = [n for n in numbers if numbers.count(n) > 1]
numbers_set = set(numbers_list)
print(' '.join(str(numbers) for numbers in numbers_set))

1 2 1 33 33 22
1 33