Задание 1

Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [ ]:
import pandas as pd

In [ ]:
df_ratings = pd.read_csv('https://github.com/Kitchess/Netology/tree/master/hw_12/ratings.csv')

df_ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [ ]:
def classification(row):
  if row['rating'] <= 2:
    return 'низкий рейтинг'
  elif row['rating'] <= 4 and row['rating'] > 2:
    return 'средний рейтинг'
  else:
    return 'высокий рейтинг'

In [ ]:
df_ratings['class'] = df_ratings.apply(classification, axis=1)

df_ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {}

Результат классификации запишите в отдельный столбец region.

In [ ]:
df_keywords = pd.read_csv('https://github.com/Kitchess/Netology/tree/master/hw_12/keywords.csv')

df_keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [ ]:
geo_data = {
'Центр':['москва', 'тула', 'ярославль'],
'Северо-Запад':['петербург', 'псков', 'мурманск'],
'Дальний Восток':['владивосток', 'сахалин', 'хабаровск'] 
}

In [ ]:
def geo_classification(row):
  data = row['keyword'].split(' ')
  
  for region, city_list in geo_data.items():
    for word in data:
      if word in city_list:
        return region
  if word not in city_list:
    return 'undefined'

In [ ]:
df_keywords['region'] = df_keywords.apply(geo_classification, axis=1)

df_keywords

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [ ]:
df_keywords[(df_keywords['region']!='undefined')]

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]